#app {
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 4em 2em;
}

h1, h2 {
    color: #2c3e50;
}

.main h1 {
    margin-bottom: 2em;
    font-size: 2.6em;
    font-weight: bold;
}

article {
    margin-bottom: 1em;
}

article h2 {
    margin-bottom: 0.8em;
    font-size: 2em;
    font-weight: bold;
}

article p {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}